{% extends 'snippets/subject_page.html' %}
{% block title %} DETAILS {% endblock %}
{% load comments %}
{% load filters %}
{% load humanize %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detailpage.css' %}">
	{% if is_teacher %}
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	{% include 'django_quill/media.html' %}
	{% endif %}
{% endblock %}

{% block subject_content %}
<div style="padding:3px;" class="container">
   <div class="row ">
	<div class="col">
		<div id="contain">
			{% if is_teacher %}
			<button class="btn btn-danger m-2 float-right" 
				style="color:white;background:red;padding: 7px;"
				data-entity="user" id="userDeleteButton"
				value="{% url 'delete_announcement' classroom.unique_id subject.id announcement.id %}">
				Delete <i class="fa fa-trash" aria-hidden="true"></i>
			</button>
			{% include 'snippets/deleteconfirm.html' %}
			<button onclick="on(document.getElementsByClassName('overlay')[0])"
			style="color:white;background:black;padding: 7px;cursor:pointer;"
			 class="m-2 float-right">
			 Update <i class="fas fa-edit"></i>
			</button>
			{% endif %}
			<a class="btn btn-primary m-2 float-right" 
			style="color:white;padding: 7px;"
			href="{% url 'profile' announcement.announced_by %}">
			Contact <i class="fas fa-phone-volume"></i>
			</a><br><br>

			{% if is_teacher %}
			<div class="overlay">
			  	<form method="POST" onsubmit="return validate()" class="overlayform" enctype="multipart/form-data">{% csrf_token %}
					<a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a><br>
					<h1 class="text-center">Update: {{ announcement.subject }}</h1>
					<div>
						{% for field in updateform %}
							{% if field.field.widget.input_type == 'file' %}
							<input type="file" name="file" id="actual-btn" hidden/>
							<label id="file-upload-label"for="actual-btn">
								{% if announcement.file %}
									{{ announcement.file|filebasename }}. Click to change
								{% else %}
								Upload File
								{% endif %}
								<i class="fa mx-2 fa-upload" aria-hidden="true"></i>
							</label>
							{% else %}
								{{ field.label_tag }}<br>
								{{ field }}
							{% endif %}
						{% endfor %}
						<input type="submit" class="btn btn-primary float-right"value="Update Announcement">
					</div>
			  	</form>
		  	</div>
		</div>
		{% endif %}<br>
		<div id="detail-content">
			<p id="detail-topic">
				{{announcement.subject}}
			</p>
			{% if announcement.file %} 
				{% if extension == 'image' %}
					<a href="{{announcement.file.url}}">
						<img src="{{announcement.file.url}}" id="media-container">
					</a>
				{% elif extension == 'video' %}
					<video height="300" width="500" id="media-container" controls>
						<source src="{{announcement.file.url}}" type="video/mp4">
						<source src="{{announcement.file.url}}" type="video/ogg">
						Your browser does not support the video tag.
					</video><br>
					<a href="{{announcement.file.url}}" class="text-center" download>
					 Download file
					</a> 
				{% else %}
					<a href="{{announcement.file.url}}" class="text-center" download>
					 Download file
					</a> 
				{% endif %}
			{% endif %}	
			<div class="ql-editor">{{ announcement.description.html|safe }}</div>
		</div><br>
		{% include 'snippets/comments/announcementcomment.html' %}
	</div>
  </div>
</div>
{% endblock %}