{% extends 'registration_base.html' %} 
{% load static %} 
{% block title %} LOGIN {% endblock %}
{% load socialaccount %} 
{% block content %}
<div id='navbar' style="background-color: white;box-shadow: 0px 0px 8px grey;height:70px;">
    <a class="nav-btn mx-4" href="{% url 'home' %}">Home </a>
    <a class="nav-btn mx-4" href="{% url 'features' %}">Features </a>
    <a class="nav-btn mx-4" href="{% url 'home' %}#contactus">Contact</a>
  </div><br><br>
<br>
<div class="container-fluid p-0"><br>
    <form method="POST" id="sign-up-form" onsubmit ="return logInPageValidation()"class="login-form">{% csrf_token %}
        <h1 id="login-heading"> LOG IN</h1>
        <span id="login-error"></span>
        {{ form }}
        <div style="float:left;display:block;">
            <input type="checkbox" onchange="logInPasswordToggle()" id="password-btn"> Show Password
        </div>
        <a style="float:right;display:block;" class="redirect" href="{% url 'password_reset' %}">
			Forgot Password? 
		</a><br><br>
        <button type="submit" class="submit-btn">Log In</button>
        <div class="login-box">
            <!-- <a style="text-align: center;" href="#" class="social-button" id="facebook-connect">
                <span>Facebook </span>
            </a> -->
            <a style="text-align: center;" href="{% provider_login_url 'google' %}" class="social-button" id="google-connect">
                <span>Google</span>
            </a>
        </div>
        <center><h4>OR</h4></center>
        <a class="redirect" style="text-align:center;display: block;" href="{%url 'signup' %}">
            Create a new account
        </a>
    </form><br>

</div>
{% endblock %}