{% extends 'registration_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Confirm Reset {% endblock %}
{% block content %}
<div id='navbar' style="background-color: white;box-shadow: 0px 0px 8px grey;height:70px;">
  <a class="nav-btn mx-4" href="{% url 'home' %}">Home </a>
  <a class="nav-btn mx-4" href="{% url 'features' %}">Features </a>
  <a class="nav-btn mx-4" href="{% url 'home' %}#contactus">Contact</a>
</div><br><br>
<br>
<div class="row mt-4">
  <div style="box-shadow:0px 0px 10px grey;"class="col-md-6 col-sm-10 mx-auto form-contain">
  {% if validlink %}
    <form id="password-reset-form" method="post">{% csrf_token %}
      <h2 class="text-center">CHANGE PASSWORD</h2>
      {{ form|crispy }}<br>
      <button class="btn btn-primary "id="submit-btn" type="submit">Change Password</button><br>
    </form>
  {% else %}
    <h2 class="text-center"> Password Reset </h2>
    <p style="font-size:1.3em;color:red;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
</div><br><br>
{% endblock %}