{% extends 'registration_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Confirm Reset {% endblock %}
{% block content %}
{% include 'snippets/navigation.html' %}
<div class="row mt-4">
  <div class="col-md-6 col-sm-10 mx-auto form-contain">
  {% if validlink %}
    <form id="password-reset-form" method="post">{% csrf_token %}
      <h2 class="reg-title">CHANGE PASSWORD</h2>
      {{ form|crispy }}<br>
      <button class="btn btn-primary "id="submit-btn" type="submit">Change Password</button><br>
    </form>
  {% else %}
    <h2 class="reg-title"> Password Reset </h2>
    <p style="font-size:1.3em;color:red;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
</div>
{% endblock %}