{% extends 'registration_base.html' %} 
{% block title %}Reset Password {% endblock %}
{% block content %}
{% include 'snippets/navigation.html' %}
<div class="container-fluid m-4">
    <form method="POST" onsubmit ="return forgotPasswordValidate()" id="sign-up-form" class="login-form">{% csrf_token %}
        <h1 id="login-heading"> RESET YOUR PASSWORD </h1>
        {{ form }}
        <p id="password-reset-error" style="color:red;"></p>
         <button type="submit" class="btn btn-primary float-right mt-2">Send confirmation link</button><br><br>
    </form>
</div>
{% endblock %}

