{% extends 'registration_base.html' %} 
{% block content %}
{% block title %} Reset Complete {% endblock %}
<div id='navbar' style="background-color: white;box-shadow: 0px 0px 8px grey;height:70px;">
    <a class="nav-btn mx-4" href="{% url 'home' %}">Home </a>
    <a class="nav-btn mx-4" href="{% url 'features' %}">Features </a>
    <a class="nav-btn mx-4" href="{% url 'home' %}#contactus">Contact</a>
  </div><br><br>
<br>
<div class="row mt-4">
    <div class="col-md-6 col-sm-12 mx-auto"><br>
        <div style="box-shadow:0px 0px 10px grey;"  id="content">
            <h1 class="reg-title mb-3">Password reset complete</h1>
            Hi, Your password is changed successfully. Now you can open your profile with your new credentials.
            <div class="text-align-center">
            	<center>
	                <a href="{% url 'login' %}" class="btn btn-primary"> Log In </a>
	            	<a href="{% url 'home' %}" class="btn btn-primary" > Home </a>		
            	</center><br>
        	</div>
        </div>
    </div>
</div><br><br>
{% endblock %}