{% extends 'registration_base.html' %} 
{% block content %}
{% block title %} Reset Complete {% endblock %}
{% include 'snippets/navigation.html' %}
<div class="row mt-4">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div id="content">
            <h1 class="reg-title mb-3">Password reset complete</h1>
            Hi, Your password is changed successfully. Now you can open your profile with your new credentials.
            <div class="text-align-center">
            	<center>
	                <a href="{% url 'login' %}" class="btn btn-primary"> Log In </a>
	            	<a href="{% url 'home' %}" class="btn btn-primary" > Home </a>		
            	</center>
        	</div>
        </div>
    </div>
</div>
{% endblock %}