{% extends 'registration_base.html' %}
{% load crispy_forms_tags %} 
{% block title %} Change Password {% endblock %}
{% block content %} 
{% include 'snippets/navigation.html' %}<br>
{% load socialaccount %}
{% get_social_accounts user as accounts %}
    {% if accounts %} 
        <h1 class="text-center"> You have used your Social account for login. You cannot change password.</h1><br><br><br><br><br><br><br><br><br>
    {% else %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto password-change-form col-sm-12">
                <h2 class="reg-title">Reset Your password</h2>
                <form method="POST">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <div>
                        <input type="checkbox" onchange="changePassword()" id="password-btn"> Show Password
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Change Password</button>
                </form>
            </div>
        </div>
    </div><br>
    {% endif %}
{% endblock %}