{% extends 'registration_base.html' %}
{% load crispy_forms_tags %} 
{% block title %} Password Changed {% endblock %}
{% block content %} 
{% include 'snippets/navigation.html' %}<br>
<div style="box-shadow:0px 0px 10px grey;" class="container message-container mt-4 p-4">
    <h1 class="text-center"> Password Change done </h1><br>
    <p id="message">
        Hi {{ user.username }}!!! Your password is changed successfully.
        Now you can login with your new password. Click here to go on Homepage <br>
        <center>
            <a href="{% url 'home' %}" class="btn btn-primary" > Home </a>		
        </center>
    </p>
</div><br><br>
{% endblock %}