{% extends 'base.html' %} 
{% load filters %}
{% load static %}
{% block title %} POLL DETAILS {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/polls.css' %}">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% include 'django_quill/media.html' %}
{% endblock %}
{% load cache %}
{% cache 100 poll %}
{% block content %}
<div>
    {% include 'snippets/navigation.html' %}
    <div class="container-fluid ">
        <div class="row m-0 p-0 container-fluid">
            <div class="col-md-7 mx-auto col-lg-8 col-sm-12">
                {% if is_admin %}
                <a class="btn btn-danger m-1 side-buttons float-right" 
                    style="background:red;" 
                    data-entity="user" id="userDeleteButton"
                    href="{% url 'delete_poll' classroom.unique_id poll.id %}"> 
					Delete <i class="fa fa-trash" aria-hidden="true"></i>
                 </a>
                {% include 'snippets/deleteconfirm.html' %}
                <a  class="btn m-1 side-buttons float-right" style="background:black;"
                onclick="on(document.getElementsByClassName('overlay')[0])">
                    Update <i class="fas fa-edit"></i>
                </a>
                {% endif %}
                <a  class="btn btn-dark m-1 side-buttons float-right" 
                    href="{% url 'profile' poll.created_by.username %}">
                    Contact <i class="fas fa-phone-volume"></i>
				</a>
                <br><br>
                {% if is_admin %}
                <div class="overlay">
                    <form method="POST" class="overlayform"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a> <br>
                        <h1 class="text-center"> Update</h1><br>
                        <div>
                            {% for field in updateform %}
                            {% if field.field.widget.input_type == 'file' %}
                            <input type="file" name="file" id="actual-btn" hidden/>
                            <label id="file-upload-label" class="text-center"for="actual-btn">
                                Upload File<i class="fa mx-2 fa-upload" aria-hidden="true"></i>
                            </label>
                            {% else %}
                                {{ field.label_tag }}<br>
                                {{ field }}
                            {% endif %}
                            {% endfor %}
                            <input type="submit" class="btn btn-primary float-right"value="Update Poll">
                        </div>
                    </form>
                </div>   
                {% endif %}
                <div style="border-radius:10px;" class=" bg-light mt-4 p-4">
                    {% if poll.file %} 
                        <center>
                            {% if extension == 'image' %}
                                <a href="{{poll.file.url}}">
                                    <img src="{{poll.file.url}}" height="500" width="500">
                                </a>
                            {% elif extension == 'video' %}
                                <video height="300" width="500" controls>
                                    <source src="{{poll.file.url}}">
                                        Your browser does not support the video tag.
                                </video><br>
                                <a href="{{poll.file.url}}" download> Download file</a>
                            {% else %}
                                <a href="{{poll.file.url}}" download> Download file</a> 
                            {% endif %}
                        </center>
                    {% endif %}
                    <h2 class="text-center mx-auto"> {{ poll.topic }} </h2>
                    <div class="ql-editor">{{ details.html|safe }}</div>
                    <div class="divider"></div>
                    <p> {{ poll.who_can_vote }} can participate in this poll.</p>
                    <p style="float:right;"> Vote before {{ poll.announce_at }}</p>
                    <p> {{ voters_length}} Votes.</p>

                    <div class="float-right ">
                        <a style="text-decoration: none;" 
                            target="_blank" 
                            title="invite by whatsapp"
                            href="https://api.whatsapp.com/send?text=Click on
						 	this link {{ request.scheme }}://{{ request.META.HTTP_HOST }}/polls/{{classroom.unique_id}}/poll-page/{{poll.id}}/ 
						 	to participate in poll {{ poll.topic }}/)">
                            <i class="fab fa-whatsapp fa-2x m-2" aria-hidden="true"></i>
                        </a>
                    </div><br><br>
                </div>

                <p id="instruction">
                    Note: You can choose only one option and You can't change once you have voted.
                </p>

                {% for choice in choices %}
                    <a onclick="vote(this)" href="{% url 'voting' classroom.unique_id poll.id choice.id %}">
                        <div class="alert alert-info choice">{{ choice.choice_text}} 
                            {% if show_result %}
                                <span class="text-success float-right">
        							{{ choice.votes }} Votes
        						</span> 
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        
        <div class="container">
            <div class="divider"></div><br>
            {% include 'snippets/comments/poll_comments.html' %}
        </div>
        
    </div>
</div>
<script>
    $('#id_announce_at').datetimepicker({
        datepicker: { showOtherMonths: true },
        modal: true,
        footer: true,
        format:'dd/mm/yyyy HH:MM',
        value: '{{ poll.announce_at|date:"d/m/Y" }} {{ poll.announce_at|time:"H:i" }}' 
    });
</script>
{% endblock %}
{% endcache %}