{% extends 'base.html' %} 
{% load static %}
{% block title %} POLL LIST {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/polls.css' %}">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% include 'django_quill/media.html' %}
{% endblock %}
{% block content %}
<div>
    {% include 'snippets/navigation.html' %}
    <div class="container">
        {% if pollform %}
            <center>
                <button id="addpollbtn" class="btn btn-primary"
                    onclick="on(document.getElementsByClassName('overlay')[0])">
    				Add a poll
    			</button>
            </center>

            <div class="overlay">
                <form method="POST" class="overlayform"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a> 
                    <h1 class="text-center"> Add a Poll</h1>
                    <div>
                        {% for field in pollform %}
                            {% if field.field.widget.input_type == 'file' %}
                            <input type="file" name="file" id="actual-btn" hidden/>
                            <label id="file-upload-label" class="text-center"for="actual-btn">Upload File<i class="fa mx-2 fa-upload" aria-hidden="true"></i></label>
                            {% else %}
                                {{ field.label_tag }}<br>
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        Options:<br>
                        <input type="text" class="mb-2" autocomplete="off" placeholder="Mention more option..." name="check">
                        <input type="text" class="mb-2" autocomplete="off" placeholder="Mention your option..." name="check">
                        <div id="more-inputs"></div>
                        <input type="text" class="mb-2" autocomplete="off" onclick="addInputField()" placeholder="Mention your option..." name="check">
                        <input type="submit" class="btn btn-primary float-right"value="Add Poll">
                    </div>
                </form>
            </div>   
        {% endif %}
    </div>

    <div class="container">
        {% if polls %}
            <h2 class="text-center font-weight-bold text-success">List of Polls.</h2><br>
            <div style="min-height:600px;">
            {% for poll in polls %}
                <div class="poll-list">
                    <div class="mb-3 font-weight-bold">
                        0{{ forloop.counter }} 
                        <a href="{% url 'poll_page' classroom.unique_id poll.id %}"> {{ poll.topic}}</a>
                    </div>
                    <div>
                        {{poll.who_can_vote}} can Vote.<br> 
                        Voting will end at {{ poll.announce_at }}
                    </div>
                </div>
            {% endfor %}
            </div> <br><br> 
            {% include 'snippets/paginations.html' %} 
        {% else %}
            <h2 class="no-item">
                No Polls added yet.
            </h2>
        {% endif %}
    </div>
</div>
</div>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
$('#id_announce_at').datetimepicker({
    datepicker: { showOtherMonths: true },
    modal: true,
    footer: true,
    format:'dd/mm/yyyy HH:MM',
});
</script>
{% endblock %}