.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*Assignment css ends */

/*Resource detail css*/
#detail-content {
    background: white;
    box-shadow: 0px 0px 16px black;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
#detail-content #detail-topic{
    font-weight: bold;
    text-align: center;
    font-size:1.2em;
}
/*Resource detail css ends*/

#media-container {
    display: block;
    margin: 30px auto;
    width: 500px;
    height:25rem;
}

@media screen and (max-width: 600px) {
    #media-container {
        width: 90%;
    }
    #detail-content{
        padding:0px;
    }
    .container{
        padding: 0px !important;
    }
}
#assignment-container>#button-container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	margin:5px auto;
}
#assignment-container>#button-container button{
	height:40px;
	margin:5px 10px;
	width:200px !important;
}
.assignment-container{
	display:flex;
	justify-content:space-between;
	align-items:center;;
	padding:10px;
	margin:10px 0px;
	border-radius:10px;
	box-shadow: 0px 0px 20px grey;
	min-height:100px;
}
.assign-btn{
	background:rgb(70, 135, 248);
	color:white;
	border:none;
	border-radius:5px;
	cursor:pointer;
	padding:10px 10px;
}
@media screen and (min-width:414px){
    #submission-date{
        float:right;
    }
}