
.subject-container {
    position: relative;
    max-width: 800px;
    margin: 10px auto;
    line-height: 5px;
    
}
.subject-container img {
    vertical-align: middle;
    border:2px solid rgba(20, 141, 255, 0.8);
    border-radius:10px;
    opacity: 0.8;
    transition: opacity 0.4s, transform 0.4s;
}
.subject-container img:hover {
    opacity: 1;
    transform: scale(1.04, 1.04);
}
.subject-container .content {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
    font-weight: bolder;
}
#add-subject-btn {
    width: 150px;
    color: white;
    border-radius: 5px;
    background: black;
    cursor:pointer;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0px;
    transition:all 0.4s;
    display:block;
    border: 1px solid black;
}
#add-subject-btn:hover {
    background-color: white;
    
    color: black;
}
.subject-intro {
    color: black;
    background: white; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    margin: 20px auto;
    
    box-shadow: 0px 0px 23px grey;
}
.subject-intro #subject-name{
    font-size: 1.72em;
    font-weight: bolder;
}
.subject-intro #subject-teacher{
    font-size: 1.32em;
    font-weight:normal
}
.subject-intro #subject-description{
    font-size:1em;
}
#members{
    display:none;
}
.member-card{
    padding:10px;
    border-radius:15px;
    box-shadow: 0px 0px 16px black;
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    position:relative;
}
.member-card img{
    margin-right: 20px;
    border-radius:10px;
    height:80px;
    width:80px;
}
.activity-container {
    padding: 10px;
    border-radius: 7px;
    font-size: 1.2em;
    margin:10px 0px;
    box-shadow: 0px 0px 13px black;
    transition:all 0.31s;
}
.activity-container:hover{
    transform:scaleX(1.02)
}

#edit {
    display: block;
    margin: auto;
    background: black;
    color: white;
    width: 100px;
    border-radius: 10px;
    padding: 8px 12px;
}
.classroom-details{
    padding:10px;
    background:white;
    box-shadow:0px 0px 10px grey;
}

/* Copy classroom code  */
.tooltip {
    position: relative;
    display: inline-block;
    opacity:1 !important;
}
.tooltip button{
    border:none;
    background: none;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: -1 !important;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext { 
visibility: visible;
opacity: 1;
}
