@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
html,body{
  margin:0 !important;
  padding:0;
  background:#d8e9e9;
  font-family: 'Nunito Sans', sans-serif !important;
}
body{
  overflow-x: hidden;
}
.no-scroll{
  overflow:hidden !important;
}
button{
  outline:none !important;
}
h1,h2,h3,h4,h5,h6,em,b{
  font-family: 'Questrial', sans-serif !important;
}
.text-area{
  min-height:100px !important;
}
.text-wrap1{
  overflow:hidden;
  text-overflow: ellipsis;
}
.messages{
  position:absolute;
  top:10px;
  left:0;
  right:0;
  z-index:100000000000000;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white; 

}

::-webkit-scrollbar-thumb {
  background-color: #4edba3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2995aa;
}

a{
  text-decoration:none !important;
}
.text-area{
  white-space: pre-wrap;
  width:100%;
  padding:30px 0px;
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family:'verdana';
}

/* Delete confirm modal */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.close{
  float:right !important
}

.deleteDialogEntityType {
font-weight:bold; 
padding-left: 2px; 
padding-right: 2px;  
}
/* Delete confirm modal */

/*Sidenav*/
#openNav{
  padding:0px;
  font-size:30px;
  cursor:pointer;
  width:50px;
  height:50px;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 0.3s;
  border:1px solid black;
  color:white;
  background:black;
}
#openNav:hover{
  background:white;
  color:black;
}
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 100; 
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  box-shadow:1px 3px 8px grey;
}
.sidenav *{
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  height:50px;
  color: black;
  display: block;
  transition: 0.2s;
  border-bottom: 1px solid black;
  transition:background 0.6s;
}
.sidenav button {
  border: none;
  color: black;
  background:white;
  cursor:pointer;
  transition: 0.2s;
}
.sidenav button:active {
  border: none;
}
.sidenav a:hover {
  color: blue;
  background:black;
  color:white;
  
}
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Sidenav*/


/*Classroom page css*/

#homepage-btn-group button{
  color:white;
  background-color: black;
  padding:5px;
  cursor:pointer;
  width:140px;
  margin:20px 0px;
  height:40px;
  display:flex; align-items:center; justify-content:center;
}
#homepage-btn-group button:hover{
  color:black;
  background-color: white;
  border:0;
}
#home-btn-container {
  margin: 1% 5%;
  display: flex;
  justify-content: center;
}
#home-btn-container .btn-home {
  border-radius: 10px;
  border:2px solid black;
  width: 180px;
  color: white;
  background-color: black;
  margin: 10px;
}
#home-btn-container .btn-home:hover {
  color: black;
  background-color: white;
}
.invite-link{
  display:block;
  color:black;
  transition:all 0.5s;
  padding:5px;
  text-align:center;
}
.invite-link:hover{
  background:  black;
  color:white;
}
.opts {
  cursor: pointer;
  font-size: 35px;
}
.user-icon{
  cursor:pointer;
  border-radius:10%;
}
.second-box{
  display:flex;
  justify-content: flex-end;
  align-items:center;
}
.second-box>span{
  margin-right:20px;
  color:blue;
  margin-top:10px;
  position:relative;
  padding:10px;
  border-radius:48%;
}
.second-box>span>.count{
  position:absolute;
  top:-2px;
  border-radius:50%;
  padding:0px 6px;
  background:red;
  color:white;
  right: -0px;
  font-size:18px;;
  color:black;
  font-weight: bold;

}
.horizontal-bar{
  background:#f4f4f2;
  position:absolute;
  top:0;
  width:100vw !important;
  padding:0 20px;
  display:flex;
  align-items: center;
  justify-content:space-between;
  box-shadow:0px 0px 8px black;
  height:10vh;
}
.dropdown-content {
  font-size: 15px;
  padding:0 !important;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border:none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  transition: 0.6s;
}

.dropdown-content a:hover {
  color: #ddd;
  background: black;
}

/*Classroom page css ends*/
#dropdown-container {
  display:none;
  padding:0px !important;
  box-shadow:0 0 20px grey;
  border-radius: 5px;
  position: absolute;
  right:65px;
  top:10px;
  z-index:9000;
}
#dropdown-container a{
  padding:5px;
  width:100px;
  text-align:center;
  transition:all 0.5s; 
}
#dropdown-container a:hover{
  background:white;
  color:black !important;
  border:1px solid black;
}
#dropdown-container:hover{
  display:inline-block; 
}

/*overlay form settings*/
.overlay {
  display:none;
  align-items:center;
  justify-content:center;
  position:fixed;
  top:70px;
  left:0;
  right:0;
  bottom:0;
  background-color:rgb(0, 0, 0,0.5);
  z-index:50;
}
.overlay .overlayform {
  display:flex;
  align-items:center;
  flex-direction:column;
  width:100%;
  height:100%;
  z-index:10000;
  position:relative;
  background: rgb(255, 255, 255);
  overflow-y:scroll;
}
.overlay .overlayform input,textarea,select{
  padding:5px;
  border:2px solid rgb(31, 157, 241);
  width:100%;
  transition: all 0.1s;
  resize: none;
  outline:none;
}
.overlay .overlayform textarea {
  min-height:200px;
}
.overlay .overlayform input{
  border:2px solid rgb(31, 157, 241);
  transition:0.2s;
}
.overlay .overlayform input[type="checkbox"]{
  margin:0;
  width:20px;
  display:inline;
}
.overlay .overlayform input[type="submit"]{
  width:250px !important;
  padding:10px 40px;
  background: black;
  border:2px solid black; 
  color:white;
  border:none;
  font-weight:bolder;
  font-size: 1.2em;
  transition:all 0.7s;
  margin-top:1rem;
  float:right;
}
.overlay .overlayform input[type="submit"]:hover{
  color:black;
  background-color:rgb(94, 211, 94);
  box-shadow:0px 0px 15px grey;
}
.overlay .overlayform input:focus,textarea:focus{
  border: 2px solid rgb(31, 157, 241);
  border-radius:10px;
}
.overlayform>div{
  width:70%;
  border:3px solid rgb(0, 0, 0);
  padding:20px;
  border-radius: 5px;
  margin-bottom:20px;
}
.overlay #close {
  position: absolute;
  right:20px;
  top:5px;
  display:block;
  margin-bottom:10px;
  font-size: 3em !important;
  color: black;
  font-weight: bolder;
  padding:0px 10px;
  cursor:pointer;
}
#file-upload-label {
  background-color:rgb(31, 157, 241);
  color: white;
  text-align:center;
  padding: 0.6rem;
  width:100%;
  height:fit-content;
  vertical-align: middle;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top:10px;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}
/* Overlay form settings ends*/
.heading{
  text-align:center;
  font-weight:bolder;
  margin:30px 0px;
  color:black;
  font-size:3em;
  letter-spacing: 7px;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  height: 65px;
}
#navbar a {
  font-size: 1.6em;
  color: black;
  transition:0.5s;
  font-weight: bold;
  color:#14274e;
  border-radius: 10px;
}
#navbar a:hover {
  border-bottom: 3px solid #14274e;
  background: black;
  color:white;
}
@media screen and (max-width: 800px) {
  #navbar {
      display: flex;
      justify-content: center;
      background:white;
      box-shadow: 0 0 20px grey;
      height:65px;
  }
  #navbar a {
      font-size: 1.3em !important;
  }
  .overlayform>#profile-edit{
    width:100%;
  }
  .overlayform>div{
    width:100%;
    padding:10px;;
    border:none;
  }
  .overlay .overlayform {
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:0;
    padding-right:10px;
  }
  h1{
    font-size: 2em;;
  }
  .overlay #close {
    position: absolute;
    right:0px;
    top:0;
  }
  .overlay .overlayform input[type="submit"]{
    float: none;
    display:block;
    margin:auto;
  }
}
#co{
  float:right;
}
option{
  height:50px;
  font-size:1.3em;
  padding:5px;
}

.django-quill-widget-container{
  border:2px solid black !important;
  height:fit-content;
  margin-bottom: 10px;
}
#quill-id_description{
  border:none;
  border-top:2px solid black !important;
  height:500px !important;
}
.ql-editor{
  border:none;
  border-top:1px solid black !important;
  padding: 10px 0 !important;
  min-height:300px !important;
}
.ql-editor p a{
  color:blue !important;
  text-decoration: none !important;
}
.ql-editor pre{
  background:black;
  color:white;
  padding:20px;
}
.ql-editor img{
  width:300px !important;
  margin:10px;
  display:inline-block;
  vertical-align:top;
}
.overlayform .ql-editor,.ql-toolbar{
  border:1.5px solid black;
  
}
.ql-toolbar{
  border: none !important;
  box-sizing: border-box;
}
.comment-box {
  border-radius: 10px;
  background: #628181;
  margin-bottom: 10px;
  height:fit-content;
  padding:10px 10px 0px 10px;
}
.comment-box img{
  border:1px solid white;
  border-radius:50%;
  margin:10px;
  height:60px;
  width:60px;
}
.comment-box *{
  color:white;
}
#left{
  float:right;
  position:relative;
  top:25px;
  right:50px;
}
input[type="date"],input[type="time"]{
  width:49.8% !important;
  margin: 10px 0 !important;
  display:inline;
}
input[type="date"]{
  position:relative;
  left:10px;
}
input[type="date"]:focus,input[type="time"]:focus{
  border-radius: 0 !important;
}
.class-name{
  position:absolute;
  left:80px;
  top:2.6vh;
  font-size:3vh;
  overflow:hidden;
  text-overflow: ellipsis;
}
.notification-icon {
  color: black;
  text-decoration: none;
  padding: 0px 6px;
  position: relative;
  left:-20px;
  top:-2px;
  display: inline-block;
  border-radius: 50%;
  border: none;
}

.notification-icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display:none;
}

#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 99;
}

#status {
width: 200px;
height: 200px;
position: absolute;
left: 50%;
top: 50%;
background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
background-repeat: no-repeat;
background-position: center;
margin: -100px 0 0 -100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  position: relative;
  top:10px;
}

.notifications {
  width: 300px;
  position: absolute;
  display: none;
  top: 60px;
  right: -60px !important;
  max-width: 300px;
  max-height:400px;
  overflow:auto;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:500;
}

.notifications h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999
}

.notifications h2 span {
  color: #f00
}

.notifications-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer
}

.notifications-item:hover {
  background-color: #eee
}

.notifications-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 3px
}

.notifications-item .text p {
  color: #aaa;
  font-size: 12px
}
.nav-btn{
  border-bottom:2px solid white;
  
}
.nav-btn:hover{
  border-bottom:2px solid black;
}