.add-btn {
    color: white;
    background: black; 
}
.content {
    background: #F8F8FF;
    margin: 6px 0px;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 1.4em;
    color:black;
    box-shadow: 2px 4px 6px grey;
    word-wrap: break-word;
    transition:all 0.4s;
    text-decoration: none;
    width:100%;
    box-sizing: content-box;
}
.content a{
    text-decoration: none;
    color:black;
}

/* Searching  */
.block {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height:200px;
    overflow: auto;
    text-align: center;
    background: rgba(32, 177, 202, 0.95);
    border: #a0a0a0 solid 1px;
    margin: 0;
    z-index:20;
  }
  
  .block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0;
  }
#search-btn{
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    
}
#search-btn:hover{
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    
}
#search-overlay{
    display:none;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 10px 15px;
    color: #FFF;
    border: none;
    background: transparent;
  }
  
  #search-box {
    position: relative;
    width: 100%;
    margin: 0;
  }
  
  #search-form {
    height: 3.5em;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
  }
  
  #search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
  }
  
  #search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    color: #333;
    outline: none;
    font-size: 1.4em;
  }
  
  #search-button {
    font-size: 1.4em;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    z-index:10;
    display:block;
    color: #fff;
    border:2px white;
    text-align: center;
    padding:10px;
    line-height: 42px;
    border:1px white;
    width:60px;
    background-color: black;
    cursor: pointer;
  }
  #close-btn{
    position: fixed;
    top: 1em;
    right: 1em;
  }
  #close-btn:hover{
    color: #777;
    cursor: pointer;
  }
  @media screen and (max-width:700px){
    #search-form{
      width:300px;
      display: block;
      position:absolute;
      bottom:60px;
      height:3em;
    }
    .centered{
      width:100%;
    }
    .block{
      height:11em;
      overflow:hidden;
    }
    #search-box input[type="text"]{
      width:300px;
    }
  }
/* Searching ends  */

.content:hover{
    box-shadow: 0px 0px 16px black;
    transform:scale(1.01,1.01)
}

.uploaded_by {
    float: left;
    text-align: center;
}
.time {
    float: right;
    text-align: center;
}

.no-items{
    text-align:center;
    color:green;
    font-weight: bolder;
    margin-top:100px;
}
a:link{
    text-decoration: none;
}
@media screen and (max-width:770px) {
    .uploaded_by {
        float: none;
        text-align: center;
        margin:0;
    }
    .time {
        float: none;
        text-align: center;
        margin:0;
    }
    .content {
        padding-bottom: 50px;
        text-align: center;
        height:7em;
    }
    .content {
        font-size: 1em;
    }
}