body{
    overflow-x:hidden !important;
}
input:focus{
    /* outline:3px solid #64e2f0 !important; */
    border-width:0px !important;
    box-shadow: 0 0 1px 3px #6d6d79;
}

.reg-title {
    color: rgb(184, 203, 243);
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
}

strong {
    color: red;
}

.redirect{
    font-weight: bolder;
    text-decoration:none !important;
}
/*Sign up*/

#sign-up-form ul {
    color: red;
}
#sign-up-form input[type="text"],input[type="email"],input[type="password"]{
    width:100% !important;
    margin: 0px 0px 5px 0px;
    height: 40px;
    border-radius: 5px;
    outline-width:0px;
    border:1px solid black;;
    
}
.login-form li{
    font-size: 0.8em;
    font-weight:bold;
    margin:0;
}
/*Sign up ends*/


/*Login page css*/
.login-form {
    padding: 20px;
    background: white;
    width: 35%;
    margin: auto;
    box-shadow: 2px 4px 8px grey;
    position: relative;
    font-size: 1.3em;
    color: bolder;
}

.login-form label{
    margin:0px;
}
.submit-btn {
    background: black;
    color: white;
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
    transition: 0.4s;
    border-bottom: 4px solid black;
    display: block;
    cursor: pointer;
    border:0;
    transition: all 0.5s;
}

.submit-btn:hover {
    color:white;
    background:rgb(22, 47, 100);
    font-weight: bold;
    box-shadow: 0px 0px 10px white;
}

@media screen and (max-width: 600px) {
    #sign-up-form {
        width: 100%;
        margin:0;
    }
}

#login-heading {
    text-align: center;
    font-weight: bolder;
    padding: 10px 0px;
    color: white;
    background: black;
}

.login-box {
    background: #fff;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin:auto;
}

.login-box h2 {
    margin: 20px 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
}
.login-form li {
    list-style: none;
    color: red;
}
.login-form input:focus{
    outline:0;
}
.social-button {
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    transition: all .3s ease;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    transition: all .3s ease-out;
    text-decoration: none;
}

#facebook-connect span {
    box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    transition: all .3s ease;
}

#facebook-connect:hover span {
    color: #FFF;
    transition: all .3s ease;
    text-decoration: none;
}

#google-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    transition: all .3s ease-out;
    text-decoration: none;
}

#google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    transition: all .3s ease;
}

#google-connect:hover span {
    color: #FFF;
    transition: all .3s ease;
    text-decoration: none;
}
/*Log in page ends*/


/*Reset form css starts*/

#resetform-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

#resetform-container input[type="email"] {
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
}

.links {
    color: white;
    font-size: 2em;
    margin-left: 10px;
}

.links:hover {
    color: black;
    background: white;
    border-bottom: 5px solid green;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
}
/*Reset form css ends*/


/*Password reset done*/
#content {
    color: black;
    font-size: 1.4em;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
/*Password reset done ends*/

/*Password reset confirm*/
.form-contain {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
#password-reset-form {
    padding: 20px;
    margin: auto;
    background: white;
    border-radius: 10px;
    position: relative;
}

#password-reset-form input {
    width: 95%;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
}
.submit-btn {
    text-align: center;
    margin: auto;
    width: 250px;
}
/*Password reset confirm ends */


/*Password change form*/
.password-change-form {
    background: white;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}
.password-change-form p{
    margin:0;
}
.password-change-form input[type="password"],input[type="text"] {
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}
.password-change-form input[type="checkbox"]{
    margin-top: 10px;
}
/*Password change form ends*/


/*Password change done start*/
#message {
    text-align: center;
    font-size: 1.3em;
}
.message-container {
    padding: 10px;
    background: white;
    border-radius: 10px;
}
/*Password change done end*/
