{% load comments %}
{% load humanize %}
{% load filters %}
{% load socialaccount %}
{% get_social_accounts user as accounts %}
<div>
   {% get_comment_form for announcement as form %}

   <form action="{% comment_form_target %}" method="POST">{% csrf_token %}
        <textarea name="comment" onkeyup="checkComment()" rows="4" 
            maxlength="300" id="id_comment" required></textarea>

        {% if form.name == "honeypot" %} style="display:none;" {% endif %}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" 
        value="{% url 'announcement_page' classroom.unique_id subject.id announcement.id %}" />
        <input type="submit" class="btn btn-primary float-right"
          value="Add comment" id="id_submit" disabled/>
          
    </form>

    {% get_comment_count for announcement as comment_count %}
        {{ comment_count }} Comment{{ comment_count|pluralize }}
    <br><br><br>

    {% get_comment_list for announcement as comment_list %}
    {% for comment in comment_list reversed %}
        <div class="comment-box p-2">
            <a href="{% url 'profile' comment.user.username %}">
            <img class="float-left mr-4"
            {% if accounts %} 
                {% if comment.user.profile.profile_pic|filebasename != 'avatar.jpg' %}
                    src="{{ comment.user.profile.profile_pic.url }}"
                {% else %}
                    src="{{ comment.user.socialaccount_set.all.0.get_avatar_url }}"
                {% endif %}
            {% else %}
                src="{{ comment.user.profile.profile_pic.url }}"
            {% endif %}>
                <b style="color:blue;">{{ comment.user.first_name}} {{comment.user.last_name }}</b>
            </a>
            
            <pre>{{ comment.comment }}</pre>
            <span style="float:right;">Commented {{ comment.submit_date|naturaltime }}</span><br>
        </div>
    {% endfor %}
</div>