{% extends 'snippets/subject_page.html' %}
{% block title %} HANDLE {% endblock %}
{% load humanize %}
{% load filters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/detailpage.css' %}">
{% endblock %}
{% block subject_content %}
<div id="assignment-container" class="text-align-center">
	<div id="button-container">
		<button class="btn btn-primary" onclick="show_all_submissions()">
			All Submissions
		</button>
		<button class="btn btn-success" onclick='show_ontime_submissions()'>
			Ontime Submissions 
		</button>
		<button class="btn btn-danger" onclick="show_late_submissions()"> 
			Late Submissions 
		</button>
		<button class="btn btn-primary" onclick="show_not_submitted()">
			Not submitted
		</button>
		<a class="btn btn-primary pt-2 mt-1" style="height:40px;"href='{% url "export_marks" classroom.unique_id subject.id assignment.id %}'>
			Download Marks
		</a>
		<form method="POST" action="{% url 'assignment-handle' classroom.unique_id subject.id assignment.id %}">{% csrf_token %}
			<input type="hidden" name="toggle_link" value="1">
			<button type="submit" class="btn btn-info">
				{% if assignment.submission_link %}
					Close 
				{% else %} 
					Open 
				{% endif %} Submission link
			</button>
		</form>
	</div>
	<div class="container">
		{% if all_submissions and assignment.submission_link %}
		<p class="text-center">
			 Note: Close submission link, so students couldn't change their submissions during evaluation. 
		</p>
		{% endif %}
		<span id="all_submissions" >
			<h1 class="heading"> All submissions </h1>
			{% for submission in all_submissions reversed %}
			<div class="assignment-container bg-light">
				<div>
					<a href="{{submission}}" download>Download {{ submission.file|filebasename }}</a>
					submitted_by 
					<a href="{% url 'profile' submission.submitted_by.username %}">
						{{ submission.submitted_by.first_name }} {{ submission.submitted_by.last_name }}
					</a>at {{ submission.submitted_on }}.<br>
					<b> Marks assigned: </b> 
					{% if submission.marks_assigned %} 
						{{ submission.marks_assigned }} 
					{% else %}
						Not assigned yet 
					{% endif %}<br>
					{% if submission in late_submissions %}
						<b style="color:red;"> Turned Late </b>
					{% else %}
						<b style="color:green;">In time submission </b>
					{% endif %}
				</div>
				{% if is_teacher %}
				<div>
					<button class="float-right assign-btn" onclick="on(_('{{submission.submitted_by}}all'))"> Assign marks </button>
				</div>
				{% endif %}
			</div>

			<div class="overlay"id="{{submission.submitted_by}}all">
				<form class="overlayform" method="POST">{% csrf_token %}
					<h2 class="text-center"> Assign/Reconsider Marks </h2>
					<a class="mb-2" onclick = "off(_('{{submission.submitted_by}}all'))" id="close"> &times;</a><br>
					<div>
						<input type="hidden" name="id" value="{{submission.id}}">
						<input name="marks_assigned" placeholder="Assign/Reconsider Marks" type="number" 
						value = "{{submission.marks_assigned}}" max="{{assignment.full_marks}}">
						<center>
							<button type="submit" class="btn btn-primary mt-2">Assign marks</button>
						</center>
					</div>
			   </form>
			</div>
			{% endfor %}
		</span>
	
		<span id="ontime" style="display:none;">
			<h1 class="heading"> Ontime submissions </h1>
			{% for submission in ontime_submissions reversed %}
			<div class="assignment-container bg-light">
				<div>
					<a href="{{submission}}" download>Download {{ submission.file|filebasename }}</a>
					submitted_by 
					<a href="{% url 'profile' submission.submitted_by.username %}">
						{{ submission.submitted_by.first_name }} {{ submission.submitted_by.last_name }}
					</a>at {{ submission.submitted_on }}.<br>
					<b> Marks assigned: </b> {% if submission.marks_assigned %} {{ submission.marks_assigned }} {% else %} Not assigned yet {% endif %}
				</div>
				{% if is_teacher %}
				<div>
					<button class="float-right assign-btn" onclick="on(_('{{submission.submitted_by}}on'))"> Assign marks </button>
				</div>
				{% endif %}
			</div>

			<div class="overlay" id="{{submission.submitted_by}}on">
				<form class="overlayform" method="POST">{% csrf_token %}
					<a class="mb-2" onclick = "off(_('{{submission.submitted_by}}on'))" id="close"> &times;</a><br>
					<div>
						<input type="hidden" name="id" value="{{submission.id}}">
						Marks assigned:
						<input name="marks_assigned" placeholder="Assign/Reconsider Marks" type="number" 
						value = "{{submission.marks_assigned}}" max="{{assignment.full_marks}}">
						{% if is_teacher %}
						<center>
							<button type="submit" class="btn btn-primary mt-2">Assign marks</button>
						</center>
						{% endif %}
					</div>
			   </form>
			</div>
			{% endfor %}
			{% if not ontime_submissions|length %}
				<h1 class="text-danger text-center"> No submissions found </h1>
			{% endif %}
		</span>

		<span id="late_submissions" style="display:none;">
			<h1 class="heading"> late Submissions </h1>
			{% for submission in late_submissions reversed %}
			<div class="assignment-container bg-light">
				<div>
					<a href="{{submission}}" download>Download {{ submission.file|filebasename }}</a>
					submitted_by 
					<a href="{% url 'profile' submission.submitted_by.username %}">
						{{ submission.submitted_by.first_name }} {{ submission.submitted_by.last_name }}
					</a>at {{ submission.submitted_on }}.<br>
					<b> Marks assigned: </b> {% if submission.marks_assigned %} {{ submission.marks_assigned }} {% else %} Not assigned yet {% endif %}
				</div>
				{% if is_teacher %}
				<div>
					<button class="float-right assign-btn" onclick="on(_('{{submission.submitted_by}}late'))"> Assign marks </button>
				</div>
				{% endif %}
			</div>

			{% if is_teacher %}
			<div class="overlay"id="{{submission.submitted_by}}late">
				<form class="overlayform" method="POST">{% csrf_token %}
					<a class="mb-2" onclick = "off(_('{{submission.submitted_by}}late'))" id="close"> &times;</a><br>
					<div>
						<input type="hidden" name="id" value="{{submission.pk}}">
						Marks assigned:
						<input name="marks_assigned" placeholder="Assign/Reconsider Marks" type="number" 
						value = "{{submission.marks_assigned}}" max="{{assignment.full_marks}}">
						<center>
							<button type="submit" class="btn btn-primary mt-2">Assign mssarks</button>
						</center>
					</div>
				</form>
			</div>
			{% endif %}

			{% endfor %}
			{% if not late_submissions|length %}
			<h1 class="text-success text-center"> No submissions found </h1>
		{% endif %}
		</span> 
	 
		<span id="not_submitted"  style="display:none;">
			<h1 class="heading"> Not Submitted </h1>
			{% if not_submitted %}
				<center>
					<form method="POST">{% csrf_token %}
						<input type="hidden" name="send_reminder" value="1">
						<input type="submit" value="Send Reminder to All" class="btn btn-dark mx-auto">
					</form><br>
				</center>
				{% for student in not_submitted %}
				<div style="box-shadow:0px 0px 10px grey;" class="container member-card bg-light m-2 p-4 pb-2">
					<div style="display:flex;">
						<div>
							<a href="{% url 'profile' student.username %}">
								<img src="{{student.profile.profile_pic.url}}" height="70" width="70">
							</a>
						</div>
						<div class="ml-3">
							<a href="{% url 'profile' student.username %}">
								<h5> {{student.first_name }} {{student.last_name }} </h5>
							</a>
							{{ student.username }}
							<p>Have not submitted his assignment yet.</p>
						</div>
					</div>
				</div>
				{% endfor %}
			{% else %}
			<h2 class="heading1 text-center text-danger"> 
				Everyone had made submissions.
			</h2>
			{% endif %}
		</span>
	</div>
</div>
{% endblock %}