{% extends 'snippets/subject_page.html' %} 
{% block title %} ASSIGNMENTS {% endblock %}
{% load humanize %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/listpage.css' %}">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% include 'django_quill/media.html' %}
{% endblock %}
{% block subject_content %}

{% if assignments %}
<div id="search-overlay" class="block">		
	<div class="centered"> 
	  <div id='search-box'>
		<i id="close-btn" class="fa fa-times fa-2x"></i>
		<form  id='search-form' >
		  <input id='search-text' name='search' placeholder='Search' type='text' />
			<button id='search-button' type='submit'><span><i class="fas fa-search"></i></span>
			</button>
		</form>
	  </div>
	</div>
</div>
{% endif %}

<div class="container">
	<div class="row m-2">
		<div class="col-12 d-flex justify-content-between">
			{% if form %}
				<button onclick="on(document.getElementsByClassName('overlay')[0])" 
					type="button" class="btn add-btn float-left">
					Add <i class="fa fa-plus" aria-hidden="true"></i>
				</button>
			{% else %}
			<div></div>
			{% endif %}
			{% if assignments %}
			<div>
				<i id="search-btn" class="fa fa-search fa-2x"></i>
			</div>
			{% endif %}
		</div>
	</div>
 
	{% if form %} 
		<div class="overlay">
		    <form method="POST" class="overlayform" enctype="multipart/form-data">
		    	{% csrf_token %}
				<a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a><br>
				<h1 class="text-center"> Add an assignment </h1>
				<div>
					{% for field in form %}
						{% if field.field.widget.input_type == 'file' %}
						<input type="file" name="file" id="actual-btn" hidden/>
						<label id="file-upload-label"for="actual-btn">
							Upload File<i class="fa mx-2 fa-upload" aria-hidden="true"></i>
						</label>
						{% else %}
							{{ field.label_tag }}<br>
							{{ field }}
						{% endif %}
					{% endfor %}
					<input type="submit" class="btn btn-primary float-right mt-4"value="Add Assignment">
				</div>
			</form>
		</div>
	{% endif %}

	{% if assignments %}
		<div style="min-height:600px;"> 
			{% for assignment in assignments %}
			<div class="container row">
				<div class="col-12">
					<a href="{% url 'assignment_page' classroom.unique_id subject.id assignment.id %}">
				
						<div class="content">
							<div class="topic font-weight-bold">
								<i class="fas fa-briefcase mr-2"></i>{{ assignment.topic }}<br>
							</div>
							<div class="uploaded_by"> Uploaded by: {{ assignment.assigned_by }} </div>
							<div class="time">Submit Before <nobr>{{ assignment.submission_date }}</nobr>
							</div><br>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div><br> 
		</div>
        {% include 'snippets/paginations.html' %} 
    {% else %}
        <h2 class="no-items">No assignments found !!!</h2>
    {% endif %}
</div>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
	$('#id_submission_date').datetimepicker({
            datepicker: { showOtherMonths: true,calendarWeeks: true },
            modal: true,
			footer: true,
			format:'dd/mm/yyyy HH:MM',
        });
</script>
{% endblock %}