<div class="modal fade" id="genericDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="text-align:center;" class="modal-title" id="exampleModalLabel">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>You are about to delete the selected item.
            </br>
            <span style="font-weight:bold">This operation is permanent and cannot be undone.</span>
          </p>
  
          <form class=" text-center">
            <div class="form-group">
              <label style="font-weight:normal;display:block;">Type "Delete" to confirm</label>
              <center>
                <input type="text" style="width:50%;border:1px solid black;" class="form-control" id="deleteConfirmText">
              </center>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" id="confirmDeleteButton" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>