{% load static %}
<footer style="box-shadow: 0 0 10px grey;"class="u-clearfix u-footer" id="sec-d73a">
    <div class="u-clearfix u-sheet u-sheet-1">
       <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
             <div class="u-layout-row">
                <div class="u-align-center-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-12 u-size-60-md u-layout-cell-1">
                   <div class="u-container-layout u-valign-top-lg u-valign-top-sm u-valign-top-xl u-container-layout-1">
                      <a class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40">
                      <img src="{% static 'default-logo.png' %}" style="height:120px;width:160px;">
                      </a>
                   </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-24 u-size-60-md u-layout-cell-2">
                   <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <!--position-->
                      <div data-position="" class="u-position u-position-1">
                         <!--block-->
                         <div class="u-block">
                            <div class="u-block-container u-clearfix">
                               <!--block_header-->
                               <h5 class="u-block-header u-text u-text-1">
                                  <b>
                                    GURU
                                  </b> 
                               </h5>
                               <!--/block_header--><!--block_content-->
                               <div class="u-block-content u-text u-text-2">
                               <p style="font-size: 1.1em;;">
                                  GURU LMS is not just any learning management system. 
                                  It is an extremely well designed LMS that is going to 
                                  redefine online learning management in the years to come. It
                                  has been designed to help students overcome these barriers 
                                  it delivers the promise of unhindered, hassle  free academic
                                   instruction and evaluation over the internet.
                               </p>
                               </div>
                               <!--/block_content-->
                            </div>
                         </div>
                         <!--/block-->
                      </div>
                      <!--/position-->
                   </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-12 u-size-60-md u-layout-cell-4">
                   <div class="u-container-layout u-valign-middle u-container-layout-4">
                      <!--position-->
                      <div data-position="" class="u-position u-position-3">
                         <!--block-->
                         <div class="u-block">
                            <div class="u-block-container u-clearfix">
                               <!--block_header-->
                               <h5 class="u-block-header u-text u-text-5">
                                  <b>
                                    Address
                                  </b>
                               </h5>
                               <!--/block_header--><!--block_content-->
                               <div class="u-block-content u-text u-text-6">
                                  Sardapally Raja Ali Road,<br>
                                  Naupukhri , Tinsukia <br>
                                  Assam(786125)<br>
                                  Phone:<br>
                                  +91-9957767675<br>
                                  Email:<br>
                                  vishalpandeyviptsk@gmail.com<br>
                               </div>
                               <!--/block_content-->
                            </div>
                         </div>
                         <!--/block-->
                      </div>
                      <!--/position-->
                   </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-12 u-size-60-md u-layout-cell-5">
                   <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-5">
                      <!--position-->
                      <div data-position="" class="u-position u-position-4">
                         <!--block-->
                         <div class="u-block">
                            <div class="u-block-container u-clearfix">
                               <h5 class="u-block-header u-text u-text-7">
                                  <b>
                                    Useful Links
                                  </b>
                               </h5>
                               <div style="font-size:1.2em;"class="u-block-content u-text u-text-8">
                                  <a href="{% url 'signup' %}"> Sign Up</a><br>
                                  <a href="{% url 'login' %}">Log In</a><br>
                                  <a href="{% url 'features' %}"> Features</a><br>
                                  <a href="{% url 'privacy' %}"> Privacy policy </a><br>
                                  <a href="https://github.com/vishalpandeyvip/" target="_blank"> Developer </a><br>
                               </div>
                               <!--/block_content-->
                            </div>
                         </div>
                         <!--/block-->
                      </div>
                      <!--/position-->
                   </div>
                </div>
             </div>
          </div>
          <div class="social_links">
             <a href="https://www.instagram.com/_vishalpandeyvip/" target="_blank">
                 <span class="fa-stack fa-lg ig combo">
                     <i class="fa fa-circle fa-stack-2x circle"></i>
                     <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
                   </span>
             </a>
             <a href="https://www.facebook.com/bishal.panday.9275" target="_blank">
                 <span class="fa-stack fa-lg fb combo">
                     <i class="fa fa-circle fa-stack-2x circle"></i>
                     <i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
                   </span>
             </a>
             <a href="https://www.linkedin.com/in/vishal-pandey-63262b1a0/" target="_blank">
                 <span class="fa-stack fa-lg tw combo">
                     <i class="fa fa-circle fa-stack-2x circle"></i>
                     <i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
                 </span>
             </a>
             <a href="https://www.github.com/vishalpandeyvip/" target="_blank">
                <span class="fa-stack fa-lg tw combo">
                    <i class="fa fa-circle fa-stack-2x circle"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse icon"></i>
                </span>
            </a>
         </div><br><br>
       </div>

 </footer>