<ul style="flex-wrap: wrap;"class="pagination d-flex justify-content-center">
  {% if page.has_previous %}
    <a style="z-index:1 !important;" class="page-link" href="?page=1">first</a>
    <a style="z-index:1 !important;" class="page-link" href="?page={{ page.previous_page_number }}">previous</a>
  {% endif %}

  {% for p in page_range %}
    {% if page.number == p %}
            <li class="page-item active">
              <a style="z-index:1 !important;" class="page-link" href="?page={{ p }}">{{p}}</a>
            </li>
        {% else %}
            <li class="page-item">
              <a style="z-index:1 !important;" class="page-link" href="?page={{ p }}">{{p}}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
    <a  class="page-link" href="?page={{ page.next_page_number }}">next</a>
    <a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
    {% endif %}
</ul>