<style>
    .footer-section {
    background:black;
    position: relative;
    width:101%;
    }
    .footer-section li{
        list-style-type: none;
    }
    .footer-menu li {
    float:left;
    margin-left: 20px;
    }
    .footer-menu li:hover a{
    color: #ff5e14;
    }
    .footer-menu li a {
    font-size: 14px;
    color: #878787;
    }
</style>
<footer class="footer-section">
    <div style="background-color: black;"class="container-fluid float-right">
      <div class="text-center d-flex justify-content-center">
        <div class="footer-menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Report Bug</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>