{% autoescape off %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style type="text/css">
</style>
</head>
<body>
  To activate your account , click this link 
  <a  href=" {{ site_name }}{% url 'activate' uidb64=uid token=token %}" 
  target="_blank" 
  style="font-size: 20px; text-decoration: none; color: #ffffff; padding: 15px 25px; border: 1px solid #7c72dc;">Activate</a>
        
</body>
</html>
{% endautoescape %}