  {% extends 'base.html' %}
  {% block title %} PAGE NOT FOUND {% endblock %}
  {% load static %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}" >
  {% endblock %}
  {% block content %}
  <div style="display: unset;width:100%;position:absolute;top:0px;">
    {% include 'snippets/navigation.html' %}
  </div>
  <div class="background">
    <div class="ground"></div>
  </div>

  <div class="container404">
    <div class="inner-content">
      <h1 class="heading">404</h1><br>
      <h2 class="heading2">Whoops !!!</h2><br>
      <p class="subheading">
        Looks like the page you were dlooking for is not available.
      </p>
      <br /><br />
      <center>
        <a href="/" id="home-btn"> Home </a>
      </center>
    </div>
  </div>
  {% endblock %}