{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% load filters %}
{% block title %} {{classroom.class_name|upper}}{% endblock %} 
{% block content %}
{% load filters %}
{% load socialaccount %}
{% get_social_accounts user as accounts %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
<div>
    {% include 'snippets/navigation.html' %}
    <br>
    <div class="text-center container classroom-details m-auto mt-4">
        <h2> {{ classroom.class_name }} </h2>
        {% if is_admin %}
        <span id="classroom-code">{{ classroom.unique_id }}</span>
        <span class="tooltip" style="opacity:1;z-index:1;">
            <button onclick="myFunction()" onmouseout="outFunc()">
              <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
              <i style="font-size:20px;"class="fas fa-clipboard"></i>
              </button>
        </span>
        {% endif %}
        {% if classroom.description %}
        <p style="overflow:hidden;text-overflow: ellipsis;"> {{ classroom.description }} </p>
        {% endif %}
    </div><br>
    <div class="row d-flex justify-content-center">
        {% if is_admin %}
        <button class="btn btn-dark" onclick="on(document.getElementsByClassName('overlay')[0])">
            Update
        </button>
        
		<span class="dropdown ">
		  	<button class="btn btn-dark dropdown-toggle mx-2 " type="button" 
		  		id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		   		 Invitation link
		  	</button>
		  	<div class="dropdown-menu bg-light" style="padding:0;" aria-labelledby="dropdownMenuButton">
		    	<a style="text-decoration: none;" target="_blank" class="invite-link" 
					href="https://api.whatsapp.com/send?text=Click on
				 	this link {{ request.scheme }}://{{ request.META.HTTP_HOST }}/join/{{classroom.unique_id}}/
				 	to join classroom {{classroom}} created by 
				 	{{classroom.created_by}}/)">
				 	Invite by Whatsapp
				</a>
				<a style="text-decoration: none;" target="_blank" class="invite-link" 
					href="mailto:?subject= Invitation for {{classroom}} 
					&body=Click on this link {{ request.scheme }}://{{ request.META.HTTP_HOST }}/join/{{classroom.unique_id}}/
				 	to join classroom {{classroom}} created by {{classroom.created_by}}">
					Invite by email 
				</a>
		 	</div>
        </span>
        {% endif %}
    </div>
		
    {% if is_admin %}
    <div class="overlay">
        <form method="POST"class="overlayform" enctype="multipart/form-data">
            {% csrf_token %}
            <a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a><br>
            <h1 class="text-center">Update: {{classroom.class_name}}</h1>
            <div>
                {% for field in form %}
                    {% if field.field.widget.input_type == 'file' %}
                    <input type="file" name="file" id="actual-btn" hidden/>
                    <label id="file-upload-label" class="text-center"for="actual-btn">
                        {% if classroom.classroom_pic %}
                        {{ classroom.classroom_pic|filebasename }}. Click to change
                        {% else %}
                        Upload Classroom Pic
                        {% endif %}
                        <i class="fa mx-2 fa-upload" aria-hidden="true"></i>
                    </label>
                    {% elif field.field.widget.input_type == 'checkbox' %}
                    <input type="checkbox" name="need_permission" id="id_need_permission" 
                        {% if classroom.need_permission %} checked {% endif %} > 
                        <label for="id_need_permission" style="display:inline-block;" 
                        title="Joiners will need Permisson of admins to join this classroom">
                        Private Class
                    </label>
                        <br>
                    {% else %}
                        {{ field.label_tag }}<br>
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <input type="submit" class="btn btn-primary float-right"value="Submit">
            </div>
        </form>
    </div>
    {% endif %}

    {% if is_admin %}
    {% if pending_members %}
    <h1 style="text-align:center;">Pending members</h1>
    {% endif %}
    <div class="container mx-auto">
        <div class="row">
            <div style="position:relative;"class="col mb-4">
                {% for member in pending_members %}
                <div  style="position:absolute;right:10px;;z-index:5;float:right;"class="btn-group dropleft float-right">
                    <button type="button" class="btn dropdown-toggle bg-transparent btn-lg" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    </button>
                    <div class="dropdown-menu dropdown-content">
                        <a href="{% url 'delete_request' classroom.unique_id member.username %}">
                            <nobr>Delete request</nobr>
                        </a>
                        <a href="{% url 'accept_request' classroom.unique_id member.username %}">
                            <nobr>Accept request</nobr>
                        </a>
                    </div>
                 </div>
                <div class="member-card bg-light">
                    <div>
                        <a href="{% url 'profile' member.username %}">
                            <img height="70" width="70"
                            {% if accounts %} 
                                {% if member.profile.profile_pic|filebasename != 'avatar.jpg' %}
                                    src="{{ member.profile.profile_pic.url }}"
                                {% elif member.profile.user.socialaccount_set.all.0.get_avatar_url %}
                                    src="{{ member.profile.user.socialaccount_set.all.0.get_avatar_url }}"
                                {% else %}
                                src="{{ member.profile.user.profile.profile_pic.url }}"
                                {% endif %}
                            {% else %}
                                src="{{ member.profile.user.profile.profile_pic.url }}"
                            {% endif %}>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'profile' member.username %}">
                            <h5> {{member.first_name }} {{member.last_name }}</h5>
                            <h4>{{ member.username }} &nbsp; &nbsp;</h4>
                        </a>
                         <p>{{member.profile.bio}}</p>
                     </div>
                </div><br>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="text-center"> Members </h1>
    {% for member in members  %}
        <div class=" container member-card bg-light"><br>
            <div style="display:flex;">
                <div>
                    <a href="{% url 'profile' member.username %}">
                        <img height="70" width="70"
                        {% if accounts %} 
                            {% if member.profile.profile_pic|filebasename != 'avatar.jpg' %}
                                src="{{ member.profile.profile_pic.url }}"
                            {% elif member.profile.user.socialaccount_set.all.0.get_avatar_url %}
                                src="{{ member.profile.user.socialaccount_set.all.0.get_avatar_url }}"
                            {% else %}
                            src="{{ member.profile.user.profile.profile_pic.url }}"
                            {% endif %}
                        {% else %}
                            src="{{ member.profile.user.profile.profile_pic.url }}u"
                        {% endif %}>
                    </a>
                </div>
            <div>
            <a href="{% url 'profile' member.username %}">
                        <h5>  {{member.first_name }} {{member.last_name }} </h5>
                        <b>{{ member.username }} </b>
                    </a><br>
                    {% if member in admins %}Admin{% endif %}
                </div>
            </div>
            {% if is_admin or member == user %}
            <div style="position:absolute;top:5px;right:10px;" class="btn-group dropleft">
                <button type="button" class="btn dropdown-toggle bg-transparent btn-lg" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-content">
                    {% if user in admins %}
                        <a href="{% url 'class_admin' classroom.unique_id member.username %}">
                            {% if member in admins %}
                                <nobr>Dismiss from admin</nobr>
                            {% else %}
                                <nobr>Give admin status</nobr>
                            {% endif %}
                        </a> 
                    {% endif %}
                    <a href="{% url 'remove_member' classroom.unique_id member.username %}">
                        <nobr>
                            {% if is_admin %} Remove from classroom {% elif member == user  %} Leave classroom {% endif %}
                        </nobr>
                    </a>
                </div>
            </div>
            {% endif %}
         </div><br>
        {% endfor %}
    </div>
</div>
{% endblock %}