{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block css %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'css/nicepage.css' %}">
   <link rel="stylesheet"  href="{% static 'css/home1.css' %}">
   <link rel="stylesheet"  href="{% static 'css/intro.css' %}">
{% endblock %}
{% block content %}
<body class="u-body">
    <a id="button"></a>
    <div id='navbar' style="background-color: white;box-shadow: 0px 0px 8px grey;height:70px;">
      <a class="nav-btn mx-4" href="{% url 'home' %}">Home </a>
      <a class="nav-btn mx-4" href="{% url 'features' %}">Features </a>
      <a class="nav-btn mx-4" href="#contactus">Contact</a>
    </div>
    <!-- Navigation ends -->
    <div class="intro-section">
      <div id="button-containers">
          <h1 id="intro">Learning will now,<br> Indeed be in air</h1>
          <a class="btn mx-4 btn-home" style="width:180px;padding:5px 30px;border:1px solid black;" href="{% url 'signup' %}">Sign Up</a>
          <a class="btn mx-4 btn-home" style="width:180px;padding:5px 30px;border:1px solid black;" href="{% url 'login' %}">Log In</a>
      </div>
    </div>

      <section class="u-align-center u-saffron u-clearfix u-section-2" id="carousel_d3ce">
         <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
               <div class="u-layout">
                  <div class="u-layout-row">
                     <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                           <div class="u-palette-3-base u-shape u-shape-circle u-shape-1"></div>
                           <h1 class="u-custom-font u-font-playfair-display u-text u-text-1"><b><i>GURU </i><br></b>LMS
                           </h1>
                           <p class="u-text u-text-2">
                              <b>
                              GURU Learning Management System has been designed to help students overcome
                              barriers. It delivers the promise of unhindered, hassle free academic 
                              instruction and evaluation over the internet. GURU empower both educators and students. 
                              It makes every moment of screen time valuable.It is an extremely well designed LMS
                              that is going to redefine online learning management in the years to come. 
                              </b>
                           </p>
                        </div>
                     </div>
                     <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-34 u-image-1" data-image-width="1500" data-image-height="996">
                        <div class="u-container-layout u-container-layout-2"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="u-black u-clearfix u-section-3" id="carousel_548f">
         <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-custom-font u-font-playfair-display u-text u-text-2">Best Learning<br><i><b>Management System</b></i>
            </h2>
            <div class="u-clearfix u-expanded-width u-gutter-24 u-layout-wrap u-layout-wrap-1">
               <div class="u-layout">
                  <div class="u-layout-row">
                     <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-col">
                           <div class="u-align-left-sm u-align-left-xs u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                              <div class="u-container-layout u-valign-middle u-container-layout-1">
                                 <h5 class="u-text u-text-3">Less ‘teching’, more teaching</h5>
                                 <p class="u-text u-text-4">GURU is designed to be extremely simple, intuitive and easy to use. You can get started with it in the blink of an eye.  </p>
                              </div>
                           </div>
                           <div class="u-align-left-sm u-align-left-xs u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                              <div class="u-container-layout u-valign-middle u-container-layout-2">
                                 <h5 class="u-text u-text-5">Handing out notes is easy with GURU.</h5>
                                 <p class="u-text u-text-6">Send out handouts, assignments, notes, and even textbooks to as many
                                     as students you want, just with the press of one button. </p>
                              </div>
                           </div>
                           <div class="u-align-left-sm u-align-left-xs u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-3">
                              <div class="u-container-layout u-container-layout-3">
                                 <h5 class="u-text u-text-7">Know how every student is doing at a glance.</h5>
                                 <p class="u-text u-text-8">Providing a personalizing touch to the process of academics may no longer remain a dream.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-row">
                           <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-4">
                              <div class="u-container-layout u-valign-middle">
                                 <img load="lazy" class="u-image u-image-1" src="{% static '23330996-0.png' %}" data-image-width="99" data-image-height="150">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-col">
                           <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                              <div class="u-container-layout u-container-layout-5">
                                 <h5 class="u-text u-text-9">Inside the class = Outside the class</h5>
                                 <p class="u-text u-text-10">As lectures, handouts, notes and assignments can be exchanged over the platform, it has come close to realizing this dream than ever.  </p>
                              </div>
                           </div>
                           <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-6">
                              <div class="u-container-layout u-valign-middle u-container-layout-6">
                                 <h5 class="u-text u-text-11">No limitations.</h5>
                                 <p class="u-text u-text-12"> Send Notes, Books , Contents as many as you want without paying us a single penny.</p>
                              </div>
                           </div>
                           <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-7">
                              <div class="u-container-layout u-valign-middle u-container-layout-7">
                                 <h5 class="u-text u-text-13">Privacy</h5>
                                 <p class="u-text u-text-14">Only teachers get to see what coursework the students have done and only an individual student. Privacy means privacy </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="u-align-left u-contact u-clearfix u-section-6" id="contactus">
         <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">Get in Touch</h2>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
               <div class="u-layout">
                  <div class="u-layout-row">
                     <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                           <h2 class="u-text u-text-2">don't be shy</h2>
                           <p class="u-text u-text-3">Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be part of your visions.</p>
                           <span class="u-icon u-icon-circle u-text-palette-3-base u-icon-1">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7817" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content">
                                    <g>
                                       <path d="M467,61H45c-6.927,0-13.412,1.703-19.279,4.51L255,294.789l51.389-49.387c0,0,0.004-0.005,0.005-0.007    c0.001-0.002,0.005-0.004,0.005-0.004L486.286,65.514C480.418,62.705,473.929,61,467,61z"></path>
                                    </g>
                                    <g>
                                       <path d="M507.496,86.728L338.213,256.002L507.49,425.279c2.807-5.867,4.51-12.352,4.51-19.279V106    C512,99.077,510.301,92.593,507.496,86.728z"></path>
                                    </g>
                                    <g>
                                       <path d="M4.51,86.721C1.703,92.588,0,99.073,0,106v300c0,6.923,1.701,13.409,4.506,19.274L173.789,256L4.51,86.721z"></path>
                                    </g>
                                    <g>
                                       <path d="M317.002,277.213l-51.396,49.393c-2.93,2.93-6.768,4.395-10.605,4.395s-7.676-1.465-10.605-4.395L195,277.211    L25.714,446.486C31.582,449.295,38.071,451,45,451h422c6.927,0,13.412-1.703,19.279-4.51L317.002,277.213z"></path>
                                    </g>
                              </svg>
                           </span>
                           <h6 class="u-text u-text-4">Mail me<br>vishalpandeyviptsk@gmail.com
                           </h6>
                           <span class="u-icon u-icon-circle u-text-palette-3-base u-icon-2">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-2aad" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve" class="u-svg-content">
                                 <g>
                                    <g>
                                       <path d="M353.188,252.052c-23.51,0-46.594-3.677-68.469-10.906c-10.719-3.656-23.896-0.302-30.438,6.417l-43.177,32.594    c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208,11.167-20.198,7.635-31.448    c-7.26-21.99-10.948-45.063-10.948-68.583C132.146,13.823,118.323,0,101.333,0H30.813C13.823,0,0,13.823,0,30.813    C0,225.563,158.438,384,353.188,384c16.99,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.177,252.052,353.188,252.052z"></path>
                                    </g>
                                 </g>
                              </svg>
                           </span>
                           <h6 class="u-text u-text-5">Call me<br>+91- 9957767675
                           </h6>
                        </div>
                     </div>
                     <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                           <div class="u-expanded-width u-form u-form-1">
                              <form method="POST" class="u-clearfix u-form-spacing-19 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                                 <div class="u-form-group u-form-name">
                                    <label for="name-dee9" class="u-form-control-hidden u-label">Name</label>
                                    <input type="text" placeholder="Enter your Name" id="name-dee9" name="name" class="u-border-2 u-border-white u-input u-input-rectangle" required="">
                                 </div>
                                 <div class="u-form-email u-form-group">
                                    <label for="email-dee9" class="u-form-control-hidden u-label">Email</label>
                                    <input type="email" placeholder="Enter a valid email address" id="email-dee9" name="email" class="u-border-2 u-border-white u-input u-input-rectangle" required="">
                                 </div>
                                 <div class="u-form-group u-form-message">
                                    <label for="message-dee9" class="u-form-control-hidden u-label">Message</label>
                                    <textarea placeholder="Enter your message" rows="4" cols="50" maxlength="500" id="message-dee9" name="message" class="u-border-2 u-border-white u-input u-input-rectangle" required=""></textarea>
                                 </div>
                                 <div class="u-form-agree u-form-group u-form-group-4">
                                    <input type="checkbox" id="agree-fd34" name="agree" class="u-agree-checkbox" required>
                                    <label for="agree-fd34" class="u-agree-label u-label">I accept the <a href="{% url 'privacy' %}">Terms of Service/Privacy Policy</a>
                                    </label>
                                 </div>
                                 <div class="u-align-left u-form-group u-form-submit">
                                    <input type="submit" style="background:black;" class="u-btn u-btn-round u-btn-submit u-button-style u-palette-3-base u-radius-30 u-btn-1" value="submit" class="u-form-control-hidden">
                                 </div>
                              </form>
                           </div><br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      {% include 'snippets/footer.html' %}
{% endblock %}
{% block javascript %}
<script>
   var btn = $('#button');
   $(window).scroll(function() {
   if ($(window).scrollTop() > 300) btn.addClass('show');
   else btn.removeClass('show');
   });
   btn.on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop:0}, '300');
   });
</script>
{% endblock %}
