
{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/nicepage.css' %}">
<link rel="stylesheet" href="{% static 'css/home1.css' %}">
<link rel="stylesheet" href="{% static 'css/intro.css' %}">
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
<style>
   body{
      margin:0;
      padding:0;
      background:white;
   }
   h1 {
  font-family: bebas neue;
  font-size: 46px;
  text-align: center;
  color: rgb(44,48,52);
  margin: 0;
  padding: 0 0 6px 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
}
h2 {
  font-family: bebas neue;
  font-size: 26px;
  line-height: 10px;
  text-align: left;
  color: rgb(44,48,52);
  margin: 0;
  padding: 10px 0 0 0;
}
p {
  font-family: open sans;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgb(44,48,52);
  margin: 0;
  padding: 10px 0 0 0;
}
</style>
<div id='navbar' style="background-color: white;box-shadow: 0px 0px 8px grey;height:70px;">
   <a class="nav-btn mx-4" href="{% url 'home' %}">Home </a>
   <a class="nav-btn mx-4" href="{% url 'features' %}">Features </a>
   <a class="nav-btn mx-4" href="{% url 'home' %}#contactus">Contact</a>
 </div><br><br>
<br>
{% endblock %}
{% block title %} Privacy Policy {% endblock %}
{% block content %}
<div class="col-sm-11 col-md-8 mx-auto">
<h1>Privacy Policy</h1>
<p>Last updated March 2021.
<br><br>
Welcome to the GURU-LMS, created by Vishal Pandey.</p>
<h2>Information We Collect</h2>
<p>When you create an account and use our Service, we collect the following types of information from you:
<br><br>
1. Name;<br>
2. Contact information such as your email address and phone number;<br>
3. Any other information, such as reviews, content, and bio, you provide us.<br>
If you create an account using, or otherwise connect your account to, a social
networking services account (e.g. Google or Facebook),we may also collect information
provided to us by such social networking service including for example your: name,
email address, profile picture, gender etc which will be public on those sites.
<br><br>
We automatically collect information about how you use our services, for example, pages you have viewed.
We also collect certain technical information about your device including your
your browser type, language and identifying information, your operating system.
<br><br>
<h2>Sharing Of Your Information</h2>
<p>The GURU-LMS Services may allow you to connect and share your actions,
   comments, content, profile, and information publicly or with other people.
   Please be mindful of your own privacy needs as you choose who to connect
   with and what to share and make public. We cannot control the privacy or
 security of information you choose to make public or share with others.
<br><br>

<h2>How we Use Your Information</h2>
<p>We generally use your information to
facilitate the creation of and secure your account on the Services;
Identify you as a user in our system;
Provide, personalize, and improve the Services;
Communicate with you about your use of the Services;
Develop new products and services,
Fulfill your requests;
Send newsletters, surveys, offers and promotional materials related to
the Services and for other marketing purposes of GURU-LMS using your contact information;
Protect, investigate, and prevent potentially fraudulent, unauthorized, or illegal activities;
Protect our rights and the rights of other users; and
As otherwise described in this Privacy Policy or in notices we provided to you.

<h2>How we Disclose Your Information</h2>
We may disclose your information if we believe we are required to do so by law,
or to comply with a court order, judicial or other government subpoena, or warrant.
and We also may disclose your information if we believe doing so is appropriate or
necessary to prevent any liability, or fraudulent, abusive, or unlawful uses or to 
protect GURU-LMS and our Services; or any rights, property, or personal safety.

<h2>Security</h2>
<p>GURU-LMS takes commercially reasonable steps to help protect your Information against loss,
misuse and unauthorized access, or disclosure. No company can fully prevent security risks,
however. While we strive to protect your personal information, we cannot guarantee its
absolute security. To help protect yourself and your information, choose a unique password
for our Services and do not use a password on our Services that you would use on any 
other website or online service.</p>

<h2>Dispute Resolution</h2>
<p>
If you believe that GURU-LMS has not adhered to any Statement, please contact us
by e-mail. We will do our best to address
your concerns. If you feel that your complaint has been addressed incompletely, 
we invite you to let us know for further investigation.
</p>
<h2>Information Choices</h2>
You may have the right to know what personal information GURU-LMS has about you and to correct
any inaccuracies. Please direct any such requests by email to guru.online.classroom.portal@gmail.com
or by one of the other means listed.</p>
<h2>Changes and Updates to this Privacy Policy</h2>
<p>From time to time, we may revise the Policy. To help you stay current of any changes, we
 note the date the Privacy Policy was last updated above.</p>
 <b>
    Note: We expect you to use this site for the the same purpose for which we have created this website.
    Your account will be disabled if you are found doing any illegal, unlawful or  unhuman activity.
 </b><br>
</div>
   {% include 'snippets/footer.html' %}

   <script>
      /*scroll to top */
      var btn = $('#button');
      $(window).scroll(function() {
      if ($(window).scrollTop() > 0) btn.addClass('show');
      else btn.removeClass('show');
      });
      btn.on('click', function(e) {
         e.preventDefault();
         $('html, body').animate({scrollTop:0}, '300');
      });
      /*scroll to top ends */
   </script>
{% endblock %}