{% extends 'base.html' %}
{% load static %}
{% block title %} SUBJECTS {% endblock %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
{% block content %}
<div>
	{% include 'snippets/navigation.html' %}<br>
	{% if is_admin %}
    <div class="text-center container classroom-details m-auto mt-4 ">
        <h2> {{ classroom.class_name }} </h2>
        <span id="classroom-code">{{ classroom.unique_id }}</span>
        <span class="tooltip" style="opacity:1;z-index:1;">
            <button onclick="myFunction()" onmouseout="outFunc()">
              <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
              <i style="font-size:25px;"class="fas fa-clipboard"></i>
              </button>
        </span>
		<center> 
			<button onclick="on(document.getElementsByClassName('overlay')[0])" id="add-subject-btn"> 
				Add a subject
			</button>
		</center>
    </div>
    {% endif %}

	<div class="container-fluid">
		{% if is_admin %}
		<div id="overlay" class="overlay">
			<form class="overlayform" action="{% url 'subjects' classroom.unique_id %}" 
				method="POST" onsubmit="return validateAddSubject()" enctype="multipart/form-data">
				<a onclick="off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a><br>
				{% csrf_token %}
				<h1 class="text-center"> Add a subject </h1><br>
				<div>
					Subject name: 
					<input type="text" name="subject_name"
					maxlength="50" required id="id_subject_name"><br>
					Teacher's Id:<br>
					<select name="teacher">
						<option disabled selected hidden>Please Choose</option>
						{% for member in members %}
							<option value="{{member.username}}"> 
								{{ member.first_name }} {{member.last_name }}({{member.username}})
							</option>
						{% endfor %}
					</select>
					<input type="submit" class="btn btn-success float-right text-white" value="Add Subject">
				</div>
			</form>
		</div>
		{% endif %}

		{% if subjects %}
		<h2 style="font-weight:bolder;"class="text-center">Subjects of {{classroom.class_name}} </h2>
		<div class="row" style="width:100vw !important;">
			{% for subject in subjects %}
			<div class="col-xs-12 col-md-6 col-lg-4">
				<a class="text-center" style="color:white;"
					href="{% url 'resources' classroom.unique_id subject.id  %}">
				<div class="subject-container">
				  <img src="{{subject.subject_pic.url }}" alt="Notebook" style="width:100%;height:350px;">
				  <div class="content">
					    <h1>{{ subject|upper }}</h1>
					    <p>by {{subject.teacher }}</p>
				  </div>
				</div>
				</a>
			</div>
			{% endfor %}
		</div>
		{% else %}
			{% if is_admin %}
				<h1 class="text-center text-danger"> 
					No subject is added yet. Kindly add a subject so your students can study. 
				</h1>
			{% else %}
				<h1 class="text-center text-danger"> 
					No subject is added yet. Kindly ask your admin to add a subject. 
				</h1>
			{% endif %}
		{% endif %}
		</div>
	</div>
	<!-- Subjects end  -->
</div>
{% endblock %}