{% extends 'snippets/subject_page.html' %}
{% block title %} {{ subject.subject_name|upper }} {% endblock %}
{% load static %}
{% load filters %}
{% load humanize %}
{% load socialaccount %}
{% get_social_accounts user as accounts %}
{% block css %}
<style>
	#overlayform .subject_description{
		height:200px !important;
	}
	#activity *{
		color:black !important;
	}
	</style>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block subject_content %}
<div class="container">
	<div class="subject-intro">
		<div id="subject-name">Subject: {{ subject.subject_name }}</div>
		<p id="subject-teacher">Teacher: {{ subject.teacher }}</p>
		{% if subject.description %}
			<p id="subject-description">
				{{ subject.description }}
			</p>
		{% endif %}
	</div>

	<!-- Members list -->
	<div class="row d-flex justify-content-center">
		<button onclick="toggleMembersSubjects()" class ="btn btn-primary m-1">   
			Activities 
		</button>
		<button onclick="toggleMembersSubjects()"  
			class ="btn btn-primary m-1"> 
			Members 
		</button>
		{% if user == teacher  or user in admins %}
			<button onclick="on(document.getElementsByClassName('overlay')[0])" class="btn btn-primary m-1 "> 
				Edit Subject 
			</button>
			<button class ="btn btn-danger m-1" 
				value="{% url 'delete_subject' classroom.unique_id subject.id %}" 
				data-entity="user" id="userDeleteButton">
				Delete <i class="fa fa-trash" aria-hidden="true"></i>
		</button>
		{% include 'snippets/deleteconfirm.html' %}
		{% endif %}
	</div>

	{% if user == teacher  or user in admins %}
	<div class="overlay">
		<form method="POST"class="overlayform" enctype="multipart/form-data">
			{% csrf_token %}
			<a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a><br>
			<h1 class="text-center mb-2"> Change Subject Details </h1>
			<div>
				{% for field in form %}
					{% if field.field.widget.input_type == 'file' %}
					<input type="file" name="subject_pic" id="actual-btn" hidden/>
					<label id="file-upload-label" class="text-center"for="actual-btn">
						Upload File<i class="fa mx-2 fa-upload" aria-hidden="true"></i>
					</label>
					{% else %}
						{{ field.label_tag }}<br>
						{{ field }}
					{% endif %}
				{% endfor %}
				<input type="submit" class="btn btn-primary float-right"value="Update">
			</div>
		</form>
	</div>
	{% endif %}

	<div style="display:none;" id="members" class="m-auto">
		<h1 class="text-center"> Members </h1>

	{% for member in members %}
	<div class="member-card bg-light m-auto">
		<div style="display:flex;">
			<div>
				<img height="70" width="70"
				{% if accounts %} 
					{% if member.profile.profile_pic|filebasename != 'avatar.jpg' %}
						src="{{ member.profile.profile_pic.url }}"
					{% else %}
						src="{{ member.socialaccount_set.all.0.get_avatar_url }}"
					{% endif %}
				{% else %}
					src="{{ member.profile.profile_pic.url }}"
				{% endif %}>
			</div>
			<div>
				<h5> {{member.first_name }} {{member.last_name}}</h5>
				<h5>
					<a href="{% url 'profile' member.username %}">
						{{ member.username }} 
					</a><br>
					{% if member in admins %}Admin{% endif %}
					{% if member == teacher %}Teacher{% endif %}
				</h5>
				<p class="m-0">{{member.profile.bio}}</p>
				{% if member in upload_permissions and member not in admins %}
					Can upload resources
				{% endif %}
			</div>
		</div>
		{% if user == teacher or user in admins %}
			{% if member not in admins and member != teacher %} 
			<div style="position:absolute;top:5px;right:10px;" class="btn-group dropleft">
				<button class="btn dropdown-toggle btn-lg bg-transparent" 
					data-toggle="dropdown" type="button" 
					aria-haspopup="true" aria-expanded="false"> 
				</button>
				<div class="dropdown-content dropdown-menu">
					{% if member in upload_permissions %}
						<a href="{% url 'upload_permissions' classroom.unique_id subject.id member.username %}">
							<nobr>Take upload permssion</nobr>
						</a>
					{% else %}
						<a href="{% url 'upload_permissions' classroom.unique_id subject.id member.username %}">
							<nobr>Give upload permissions</nobr>
						</a>
					{% endif %}
				</div>
			</div>
			{% endif %}
		{% endif %}
	</div><br>
	{% endfor %}
	</div>
	<!-- Members list end -->

	{% if page %}
	<div style="display:block;" id="activitya" class="m-auto">
		<h1 class="text-center"> Activities </h1>
		<span style="min-height:600px;">
			{% for activity in page %}
				<a id="activity" href="{{activity.url}}">
					<div class="row activity-container mx-auto bg-light">
						{{ activity.action }}<br>
						{{ activity.actor }}<br>
						{{ activity.time|naturaltime }}<br>
					</div>
				</a>
			{% endfor %}
		{% include 'snippets/paginations.html' %}
		</span>
	</div>
	{% else %}
		<h1 id="activitya" style="display:none;" class="heading"> No Activities in this classroom.</h1>
	{% endif %}
</div>
{% endblock %}